@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--text-color);
    min-height: 100vh;
}

:root {
    font-size: 62.5%;
    --primary-color: #1ba39c;
    --text-color: rgba(46, 46, 46);
    --accent-color: #b7f4d8;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.heading-page {
    font-size: 2.4rem;
}

.span-all-columns {
    grid-column: 1 / -1;
}

.page {
    padding: 2.4rem 6rem;
    flex-grow: 1;
}

.search-input {
    font-family: "Open Sans", sans-serif;
    border-radius: 20px;
    outline: none;
    border: 1px solid lightgray;
    padding: 0 1.2rem;
}

button {
    display: flex;
    padding: .8rem 1.6rem;
    border-radius: .8rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    place-self: start;
    transition: opacity 150ms;
    font-weight: 500;
}

button:hover {
    opacity: .85;
}

@media (max-width: 768px) and (min-width: 426px) {
    .page {
        padding: 2.4rem 4rem;
    }
}

@media (max-width: 426px) {
    .page {
        padding: 2.4rem;
        column-gap: 0;
    }

    .search-input {
        padding: 1.2rem;
    }
}